$color-black: #0e0e12;
$color-light-black: #262626;
$color-white: #ffffff;
$color-orange: #ce6933;
$color-green: #4bd879;
$color-orange-gradient: linear-gradient(135deg, #ff8c00 0%, #e65100 100%);
$color-light-gray: #e1e6e8;

$font-main: "GothamPro", sans-serif;
$font-secondary: "Montserrat", sans-serif;
