@use "../globals/mixin" as *;

.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;

  @include vp-375 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__group {
    @include vp-375 {
      width: 100%;
    }
  }

  input {
    width: 383px;
    height: 106px;
    background-color: var(--color-light-gray);
    border: 4px solid #ffffff4a;
    border-radius: 20px;
    font-size: 22px;
    padding: 35px 40px;
    color: var(--color-white);
    outline: none;

    @include vp-375 {
      width: 100%;
      height: auto;
      font-size: 12px;
      padding: 5px 10px;
      border: 2px solid #ffffff4a;
      border-radius: 10px;
    }

    &::placeholder {
      color: var(--color-white);
    }
  }
}
