@use "../globals/mixin" as *;

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  background: rgba(8, 11, 14, 0.85);
  backdrop-filter: blur(12px);
  padding: 32px 0;

  @include vp-1315 {
    padding: 20px 0;
  }

  @include vp-991 {
    position: static;
    padding: 15px 0;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 37px;

    @include vp-1510 {
      gap: 10px;
    }
  }

  &__burger {
    display: none;

    @include vp-991 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    &-icon {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
  }

  &__logo {
    display: flex;
    width: 160px;
    align-items: center;
    transform: translateY(-9px);
    flex-shrink: 0;

    @include vp-1315 {
      width: 130px;
    }

    @include vp-1150 {
      width: 100px;
      transform: translateY(-6px);
    }

    @include vp-991 {
      width: 90px;
      transform: translateY(-3px);
    }
  }

  &__logo-icon {
    height: auto;
  }

  &__actions {
    display: flex;
    gap: 20px;
    justify-content: flex-end;

    @include vp-991 {
      gap: 5px;
    }

    @include vp-767 {
      justify-content: flex-end;
      margin: 0 0 0 auto;
    }
  }
}
