@use "../globals/mixin" as *;

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  background: rgba(8, 11, 14, 0.85);
  backdrop-filter: blur(12px);
  padding: 32px 0;

  @include vp-375 {
    position: static;
    padding: 15px 0;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 37px;

    @include vp-375 {
      gap: 10px;
    }
  }

  &__burger {
    display: none;

    @include vp-375 {
      display: block;
    }

    &-icon {
      width: 20px;
      height: 20px;
    }
  }

  &__logo {
    display: flex;
    width: 160px;
    align-items: center;
    transform: translateY(-9px);
    flex-shrink: 0;

    @include vp-375 {
      width: 90px;
      transform: translateY(-3px);
    }
  }

  &__logo-icon {
    height: auto;
  }

  &__actions {
    display: flex;
    gap: 20px;
    margin-left: auto;

    @include vp-375 {
      gap: 5px;
    }

    &-login {
      min-width: 113px;
      font-weight: 400;
      font-size: 18px;

      @include vp-375 {
        font-size: 12px;
        min-width: min-content;
        padding: 4px 10px;
      }
    }

    &-btn {
      min-width: 234px;
      font-size: 18px;

      @include vp-375 {
        font-size: 12px;
        min-width: min-content;
        padding: 4px 10px;
      }
    }
  }
}
