@use "../globals/mixin" as *;

.hero {
  position: relative;
  height: 100vh;

  &__content {
    position: relative;
    z-index: 1;
  }

  &__special {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(#ffffff33 20%);
    border-radius: 19px;
    padding: 15px 10px;
    margin: 0 0 40px 0;

    @include vp-991 {
      flex-direction: column;
      position: relative;
      padding: 7px 16px;
      align-items: flex-start;
      margin: 0 -16px 10px -16px;
      border-radius: 0;
      gap: 2px;
    }

    &-icon {
      background: transparent;

      @include vp-991 {
        position: absolute;
        top: 20%;
        right: 5%;
      }
    }

    &-img {
      @include vp-1315 {
        width: 85px;
        height: auto;
        flex-shrink: 0;
      }

      @include vp-991 {
        width: 45px;
        height: 45px;
        flex-shrink: 0;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;

      @include vp-991 {
        order: 2;
        max-width: 490px;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 18px;

      @include vp-1315 {
        font-size: 15px;
      }

      @include vp-991 {
        font-size: 12px;
      }

      &--accent {
        font-weight: 700;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 117%;
    margin: 0 0 17px 0;

    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;

    @include vp-1315 {
      font-size: 55px;
    }

    @include vp-991 {
      font-size: 30px;
    }
  }

  &__benefits-list {
    font-size: 30px;
    font-weight: 300;
    list-style-type: disc;
    padding: 0 0 0 41px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0px 0 42px 0;

    @include vp-1315 {
      font-size: 17px;
    }

    @include vp-991 {
      font-size: 12px;
      padding: 0 0 0 15px;
      gap: 7px;
      margin: 0px 0 17px 0;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    margin: 0 0 53px 0;

    @include vp-991 {
      margin: 0 0 15px 0;
    }
  }

  &__btn {
    position: relative;
    padding: 33px 50px 33px 0;

    @include vp-1315 {
      padding: 20px 18px;
    }

    @include vp-991 {
      padding: 12px 22px 12px 10px;
    }

    &-image {
      position: absolute;
      right: -30px;
      top: -11px;
      pointer-events: none;

      @include vp-1315 {
        top: -25px;
      }

      @include vp-991 {
        width: 40px;
        height: 37px;
        top: 0px;
        right: -15px;
      }
    }
  }

  &__avatars {
    display: flex;
    gap: 12px;
    align-items: center;

    &-box {
      display: flex;
    }

    &-img {
      width: 70px;
      height: 70px;

      &:not(:first-child) {
        margin-left: -29px;

        @include vp-991 {
          margin-left: -10px;
        }
      }

      @include vp-991 {
        width: 28px;
        height: 28px;
      }
    }

    &-text {
      font-size: 18px;
      font-weight: 500;

      @include vp-991 {
        font-size: 12px;
      }
    }
  }

  &__image {
    position: absolute;
    right: -98px;
    top: 2px;
    z-index: -1;
    pointer-events: none;

    @include vp-1315 {
      top: 105px;
    }

    @include vp-1150 {
      top: 125px;
    }

    @include vp-991 {
      top: 20%;
      right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 35%;
      left: 40%;
      transform: translate(-50%, -50%);
      width: 950px;
      height: 950px;
      background: radial-gradient(
        circle,
        rgba(76, 155, 102, 0.925) 0%,
        rgba(75, 120, 90, 0.85) 10%,
        transparent 70%
      );
      z-index: -1;

      @include vp-991 {
        width: 550px;
        height: 550px;
      }
    }
  }

  &__icon {
    @include vp-1315 {
      width: 600px;
      height: auto;
    }

    @include vp-1150 {
      width: 500px;
    }

    @include vp-991 {
      width: 350px;
    }
  }
}
