@use "../globals/mixin" as *;

.stocks {
  margin: 0 0 152px 0;

  @include vp-375 {
    margin: 0 0 10px 0;
  }

  &__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 117%;
    text-align: center;
    max-width: 851px;
    margin: 0 auto 27px;
    display: flex;

    @include vp-375 {
      font-size: 25px;
      margin: 0 auto 10px;
    }
  }

  &__text {
    font-size: 25px;
    font-weight: 400;
    line-height: 158%;
    text-align: center;
    margin: 0 auto 35px;

    @include vp-375 {
      font-size: 12px;
      margin: 0 auto 10px;
    }
  }

  &__list {
    display: flex;
    gap: 142px;
    width: 100%;
    margin: 109px 0 130px 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include vp-375 {
      gap: 16px;
      margin: 0 0 10px 0;
      -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &:nth-child(odd) {
      transform: translateY(28px);

      @include vp-375 {
        transform: translateY(0);
      }
    }

    &:nth-child(even) {
      transform: translateY(-28px);

      @include vp-375 {
        transform: translateY(0);
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    @include vp-375 {
      gap: 2px;
    }

    &-icon {
      width: 144px;
      height: 144px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white);
      border-radius: 24px;

      @include vp-375 {
        width: 70px;
        height: 70px;
        border-radius: 7px;
        padding: 10px;
      }
    }

    &-img {
      @include vp-375 {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
      }
    }

    &-percent {
      font-size: 30px;
      color: var(--color-green);

      @include vp-375 {
        font-size: 12px;
      }
    }

    &-sum {
      font-size: 20px;
      padding: 3px 13px;
      background-color: var(--color-light-black);
      border-radius: 18px;

      @include vp-375 {
        font-size: 12px;
        padding: 2px 5px;
      }
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}
