.footer {
  padding: 60px 0 100px 0;
  background-color: #202020;

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin: 0 0 -13px 0;
  }

  &__icon {
    width: 180px;
  }

  &__social {
    display: flex;
    gap: 13px;
    padding: 0 0 0 10px;
    margin: 0 0 24px 0;

    &-icon {
      color: rgba(255, 255, 255, 0.2);
      width: 35px;
      height: 35px;
    }
  }

  &__link {
    font-size: 16px;
    text-decoration: underline;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 30px 0 0;
  }

  &__text {
    font-size: 16px;
  }

  &__phone {
    font-size: 24px;
  }

  &__btn {
    min-width: 274px;
    height: 71px;
    padding: 18px 25px;
  }
}
