.stats {
  margin: 0 0 115px 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-value {
      font-size: 70px;
      font-weight: 700;
      background: linear-gradient(135deg, #66ce7d 0%, #4d7e5a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &-label {
      font-size: 26px;
      line-height: 1.25;
    }
  }
}
