@use "../globals/mixin" as *;

.faq {
  margin: 0 0 200px 0;

  @include vp-1150 {
    margin: 0 0 110px 0;
  }

  @include vp-991 {
    margin: 0 0 20px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 85px;

    @include vp-1150 {
      gap: 30px;
      padding: 0 20px;
    }

    @include vp-991 {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;

    @include vp-991 {
      width: 100%;
      align-items: center;
      margin: 0 auto;
    }
  }

  &__right {
    margin: 40px 0 0 0;
    flex: 1;

    @include vp-991 {
      margin: 0;
    }
  }

  &__title {
    font-size: 70px;
    line-height: 1.17;
    margin: 0 0 26px;

    @include vp-1315 {
      font-size: 55px;
      margin: 0 0 15px;
    }

    @include vp-991 {
      font-size: 25px;
      margin: 0 0 15px 0;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 1.59;

    @include vp-1315 {
      font-size: 20px;
    }

    @include vp-991 {
      font-size: 12px;
      margin: 0 0 10px 0;
    }
  }

  &__btn {
    margin: auto 0 0 0;
  }
}
