@use "../globals/mixin" as *;

.radio {
  display: inline-flex;
  align-items: center;
  gap: 54px;
  cursor: pointer;
  user-select: none;

  @include vp-1315 {
    gap: 25px;
  }

  @include vp-991 {
    gap: 10px;
  }

  &__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .radio__custom {
      border-color: transparent;
      background: linear-gradient(
        135deg,
        var(--color-light-green),
        var(--color-green)
      );

      &::after {
        opacity: 1;
      }
    }

    &:focus-visible + .radio__custom {
      outline: 2px solid var(--color-green);
      outline-offset: 2px;
    }
  }

  &__custom {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid var(--color-green);
    box-sizing: border-box;
    flex-shrink: 0;
    transition: all 0.2s ease;

    @include vp-1315 {
      width: 30px;
      height: 30px;
    }

    @include vp-991 {
      width: 20px;
      height: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: var(--color-gray);
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.2s ease;

      @include vp-1315 {
        width: 15px;
        height: 15px;
      }

      @include vp-991 {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__label {
    font-size: 25px;
    color: var(--color-white);

    @include vp-1315 {
      font-size: 18px;
    }

    @include vp-991 {
      font-size: 12px;
    }
  }
}
