@use "../globals/mixin" as *;

.stats {
  margin: 0 0 115px 0;

  @include vp-1315 {
    margin: 0 0 80px 0;
  }

  @include vp-991 {
    margin: 0 0 40px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;

    @include vp-1710 {
      gap: 40px;
    }

    @include vp-1630 {
      gap: 15px;
    }

    @include vp-991 {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    @include vp-767 {
      gap: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include vp-991 {
      gap: 5px;
    }

    &-value {
      font-size: 70px;
      font-weight: 700;
      background: linear-gradient(135deg, #66ce7d 0%, #4d7e5a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @include vp-1630 {
        font-size: 60px;
      }

      @include vp-1510 {
        font-size: 50px;
      }

      @include vp-1315 {
        font-size: 45px;
        text-align: center;
      }

      @include vp-991 {
        font-size: 40px;
        text-align: center;
      }

      @include vp-767 {
        font-size: 25px;
      }
    }

    &-label {
      font-size: 26px;
      line-height: 1.25;

      @include vp-1510 {
        font-size: 23px;
      }

      @include vp-1315 {
        font-size: 18px;
        text-align: center;
      }

      @include vp-991 {
        font-size: 15px;
        text-align: center;
      }

      @include vp-767 {
        font-size: 12px;
      }
    }
  }
}
