@use "../globals/mixin" as *;

.timer {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 0 0 0 auto;
  padding: 0 23px 0 0;
  color: var(--color-white);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";

  @include vp-991 {
    margin: 0 auto 0 0;
  }

  &__item {
    display: flex;
    align-items: baseline;
    gap: 2px;
  }

  &__value {
    display: inline-block;
    min-width: 42px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;

    @include vp-991 {
      font-size: 12px;
      min-width: 13px;
    }
  }

  &__unit {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);

    @include vp-991 {
      font-size: 12px;
    }
  }

  &__separator {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);

    @include vp-991 {
      font-size: 12px;
    }
  }
}
