.about-company {
  display: flex;
  gap: 100px;
}

.about-company__title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #26aa9a;
  margin: 0 0 20px;
}

.about-company__text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 20px;
}

.about-company__text--bottom {
  margin: 0 0 40px;
}

.about-company__link {
  display: block;
  padding: 14px;
  border: 2px solid #26aa9a;
  width: 180px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
